<div class="banner" style="background-image: url('<%=asset_path('theater.png')%>')">
  <div class="container">
    <div class="banner_container">
      <div>
        <h1>Create a new list</h1>
        <p></p>
      </div>
    </div>
  </div>
</div>


<div class="container list_form">
  <%= simple_form_for(@list) do |f| %>

    <%= f.input :name %>
    <%= f.input :banner, as: :file %>

    <%= f.button :submit, class: "btn-primary" %>
    <%= f.button :button, "Reset form", type: "reset", class: "btn-outline-secondary" %>
  <% end %>

  <%= link_to lists_path, remote:true do %>
    <button type="button" class="btn btn-primary back">Back</button>
  <% end %>
</div>
